.inner-div {
    width: 1100px;
    position: absolute;
    left: 23%;
    top: 15%;
    height: 650px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
}
.logout-btn {
    width: 10% !important;
    outline: none !important;
    background: linear-gradient(-5deg, #567add,#7577ee);
    border: none;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    color: white;
    position: absolute;
    right: 2% !important;
    top: 2% !important;
    cursor: pointer;
    border-radius: 5px;
    font-family: monospace;
}
.logout-btn::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.2s ease-in-out;
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0), 0 3px 3px rgba(0, 0, 0, .2);
    border-radius: 5px;
}
.logout-btn:hover::after {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.2);
}

.sub-div1{
    margin-top: 70px;
    width: 50%;
    height: 500px;
    padding: 50px;
    padding-top: 100px;
}

.sub-div2{
    margin-top: 70px;
    width: 50%;
    height: 500px;
    background-color: #b9c5c538;
    border-radius: 9px;
    margin-right: 21px;
    overflow: auto;
}
.sub-div2::-webkit-scrollbar {
    display: none;
}
.card{
    width: 90%;
    margin-left: 27px;
    margin-top: 19px;
    height: 138px;
    background-color: #d6dae5ad;
    border-radius: 6px;
    font-family: monospace;
    display: flex;

}
.para{
    color: black;
    padding-left: 10px;
}